@model IEnumerable<MailChimp.Net.Models.List>

@{
    ViewBag.Title = "GetAllList";
}

<h2>GetAllList</h2>

<p>
    <a href="@Url.Action("AddList","Home")" class="btn btn-primary">New List</a>
</p>
<table class="table table-hover">
    <tr style="background-color: antiquewhite">
        <th>List Id</th>
        <th>List Name</th>
        <th>Subscribers</th>
        <th>Click Rate</th>
        <th>Company</th>
        <th>City</th>
        <th>Data Created</th>
        <th>Visibility</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Id
       </td>

        <td>
            @item.Name
        </td>
        <td>
            @item.Stats.MemberCount
        </td>
        <td>
            @item.Stats.ClickRate
        </td>
        <td>
            @item.Contact.Company
        </td>
        <td>
            @item.Contact.City
        </td>
        <td>
            @item.DateCreated
        </td>
        <td>
            @item.Visibility
        </td>
    <td></td>
    </tr>
}

</table>
